# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build / dist
dist/
build/
.cache/
.vite/
coverage/

# Logs
logs/
*.log

# Ambiente / segredos
.env
.env.local
.env.development
.env.production
.env.test

# VSCode / editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# PM2
.pids
server/data/storage.json
